<section class="who-we-are ptb-100 bg-image">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-12">
                <div class="section-title">
                    <span>Why Join Our Panel</span>
                    <p>
                        When you join our panel, we give you the opportunity to voice your opinions.
                        Every time you participate in a survey, your opinions will impact the services and products that we use in our everyday lives.
                        It is common for our clients to use market research to gain a better perspective on what consumers need before releasing their service or products.
                        This helps the businesses to tailor their services and products to the needs of the consumers.
                        When joining our research panel, you are directly influencing the decision of local, regional and even global business to create better services and products.
                    </p>

                </div>
            </div>
            <div class="col-lg-7 col-md-12">
                <div class="section-title">
                    <span>Benefits of joining our panel</span>
                    <p>
                        Every time you participate in our surveys, you earn redeemable points and stand a chance to win amazing prizes. You can immediately redeem your points to airtime of your choice! You can also participate in our monthly raffle for a reward.



                        What are you waiting for?
                    </p>
                    <a href="#home" class="btn btn-primary">Join Us Today</a>
                </div>
            </div>
        </div>
    </div>
</section>
