<footer class="footer-area">
    <div class="container">
        <div class="row ">
            <div class="col-lg-4 col-md-7">
                <div class="section-title">
                    <span style="color: #e57f26;">Contact Info</span>
                    <p>
                        Email:feedback@reinitresearch.com
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="section-title">
                    <span style="color: #e57f26;">Location</span>
                    <p>
                        Headquaters Nairobi, Kenya
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-7">
                <div class="section-title text-center">
                    <span style="color: #e57f26;">Follow & Like Us</span>
                    <ul class="text-center">
                        <li><a class="facebook" href="https://www.facebook.com/reinitresearch/" target="_blank" style="color: #4267B2;"><i class="icofont-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/reinitresearch/?hl=en" target="_blank" style="color: #833AB4;" ><i class="icofont-instagram"></i></a></li>

                    </ul>
                </div>


            </div>
        </div>
        <div class="row ">
            Copyright © Reinit Research
        </div>

    </div>
</footer>

<div class="go-top"><i class="icofont-swoosh-up"></i></div>
