<section class="page-title-area item-bg4">
    <div class="container">
        <h2>REINITRESEARCH TERMS AND CONDITIONS</h2>
    </div>
</section>

<section class="error-area ptb-100">
    <div class="">
        <div class="">
<div class="col-md-12">

    <p>Terms and Conditions for Panel Membership, Survey Participation and Use of Services</p>

<p>Definitions</p>

• “Active Panellist” refers to a Panel Member that has: (a) participated in a Survey, (b) other Research Program; or (c) other parts of the Service, at least, once over the last twelve (12) months; or (d) updated his/her profile or member information at least once in the last twelve (12) months.
 <br>
• “Applicable Law” refers to applicable national and/or local laws and regulations.
<br>
• “Client” refers to Our clients to whom We provide services.
<br>
• “Content” refers to the information on Our Site, a Survey Site, a Panel Site or a Partner Site.
<br>
• “Panel” refers to a group of individuals who have agreed to be invited to and participate in market research Surveys, other Research Programs or other parts of the Services for market research.
<br>
• “Panel Member” refers to a member of a Panel.
<br>
• “Survey Owner” refers to the owner of a Survey, which typically is a Client.
<br>
• “Survey Site” refers to the website where You respond to and complete a Survey.
<br>
• “Surveys” refers to market research surveys made available by Us to You.
<br>
• “Third Party Websites” refers to websites maintained and/or operated by third parties.
<br>
• “User” refers to You as an individual when You use the Service.
<br>
Applicability; Agreement
<br>
• These Terms and Conditions (hereinafter the “Terms”) apply in addition to any agreement with Panel Owner of the Panel of which you are a Panel Member, as well as any specific terms, which may apply for a Survey, other Research Program or other Service.
<br>
Introduction
<br>
• The purpose of these Terms is to set out the general terms and conditions for Your use of the Services, including Your participation in Surveys, Panel or other Research Programs.
<br>
What we do
<br>
• REINITRESEARCH is in the market research and opinion research business.
<br>
• REINITRESEARCH operates the Website for the purpose of gaining anonymous opinions in order to help its Clients gain a better understanding of their business, marketing, product development and strategic opportunities.
<br>
• In order to function as a market research business, we collect your demographic. Your answers to the questions in the Trait Surveys are used to determine your various social, psychological, political, psychographic and preference attributes as a Member.
<br>
• We do not share your name or email address with our Clients. It is a violation of the Terms of Use for a Client to seek to determine the individual identity of any Member.
<br>
• If you decide that you do not wish to answer a survey or an individual question in a survey, you can simply end your participation in the survey, and the survey will be cleared from your account, typically in a few hours or days. You will not receive payment for an incomplete survey.
<br>
Panel Membership Eligibility
<br>
• Panel membership is generally open to individuals who satisfy the requirements for membership, including, but not limited to, minimum age requirements and geographic location requirements.
<br>
• By agreeing to become a Panel Member, you agree to receive invitations to participate in Surveys, Research Programs or other Services, both from the Panel Owner you have applied to Panel membership for and from other Panel Owners.
<br>
• You may unsubscribe from Panel membership at any time.
<br>
• Standard Demographic Information: To continue the registration you will be asked to provide what we call “Standard Demographic Information.” This may include but will not necessarily be limited to gender, user name, first name, last name, birthdate, country, state/region, county, street address, zip/postal code, time zone, level of education, relationship status, parental status, employment status, and chosen career.
<br>
• You have the option to also supply your household income and race/ethnicity. In all cases, you know what information we collect from you because you are providing it to us directly.
<br>
• Trait Information: You will receive many short surveys which enable us to learn more about you. We call these “Trait Surveys.” Trait Surveys may seek information about your health and medical conditions, racial or ethnic origin, political opinions, religious or philosophical beliefs, trade-union memberships, health, psychographic, psychological makeup and sex life, things you have purchased, own or plan to acquire, etc.
<br>
• Your answers to Trait Survey questions are only supplied to Clients in aggregate form, and only to Clients whose surveys you’ve answered.
<br>
• If you do not wish to answer any particular question(s) in a given Trait Survey, you can click the “Exit” button. You will not be remunerated for a Trait Survey which you do not complete.
<br>
Conditions for Participation in a Survey, Other Research Program or Other Services
<br>
• When You participate in a Survey, other Research Program or other Service, and/or use Our Site, a Survey Site or a Panel Site, you are obligated to comply with these Terms, as well as any other terms and conditions that apply to Your participation, including any agreement.
<br>
• By participating in a Survey, other Research Program or other Service, you agree to provide true, correct and complete information about Yourself.
<br>
• If You provide information, or We have reason to suspect that the information You have provided is not true, correct and complete, you may not qualify for a Survey, other Research Program or other Service and consequently will not receive any incentives for Your participation.
<br>
• Furthermore, a Panel Owner may terminate Your membership with the result that You will not be able to participate in any more Surveys or other Research Programs.
<br>
• You are responsible for actions and communications undertaken or transmitted from Your account.
<br>
Updating your personal information
<br>
• To update any of your personal information or to change any of your marketing preferences, you may update your personal information through the website by logging in and accessing the “My Profile” area.
<br>
Support and Contact
<br>
• If you contact Reinitresearch, we may keep a record of that correspondence and we may collect your email address for archival purposes but will not use, transfer or sell your email address.
<br>
• Other Information You Choose to Share: We may collect any other personal information or data if you voluntarily submit it to us.
</div>

        </div>
    </div>
</section>
