/*
@File: Avurn Template Styles

* This file contains the styling for the actual tepmlate, this
is the file you need to edit to change the look of the
tepmlate.

This files table contents are outlined below>>>>>

*******************************************
*******************************************

** - Default CSS
** - Preloader CSS
** - Navbar CSS
** - Main Banner CSS
** - Features CSS
** - About CSS
** - CTA CSS
** - Services CSS
** - Who We Are CSS
** - Skill CSS
** - Why We Different CSS
** - Portfolio CSS
** - Fun Facts CSS
** - Team CSS
** - Story CSS
** - Pricing CSS
** - Testimonial CSS
** - Call To Action CSS
** - FAQ CSS
** - Blog CSS
** - Partner CSS
** - Subscribe CSS
** - Contact CSS
** - Page Title CSS
** - Pagination CSS
** - Sidebar CSS
** - Blog Details CSS
** - 404 Error CSS
** - Footer CSS
** - Go Top CSS
*/
/*================================================
Default CSS
=================================================*/
$main-color: #23d3b6;
$secondary-color: #e57f26;
$white-color: #ffffff;
$black-color: #000000;
$paragraph-color: #000000;
$font-family: "Open Sans", sans-serif;
$font-family2: "PT Sans", sans-serif;
$font-size: 15px;
$transition: 0.5s;

body {
    padding: 0;
    margin: 0;
    font: {
        size: $font-size;
        family: $font-family;
    }
}
a {
    text-decoration: none !important;
    transition: $transition;
}
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $black-color;
    margin-bottom: 15px;
    font: {
        family: $font-family2;
    }
    &:last-child {
        margin-bottom: 0;
    }
}
p {
    line-height: 1.8;
    margin-bottom: 15px;
    color: $paragraph-color;

    &:last-child {
        margin-bottom: 0;
    }
}
img {
    max-width: 100%;
    height: auto;
}
.mt-30 {
    margin-top: 30px;
}
.ptb-100 {
    padding: {
        top: 100px;
        bottom: 100px;
    }
}
:focus {
    outline: 0 !important;
}
.d-table {
    width: 100%;
    height: 100%;

    &-cell {
        vertical-align: middle;
    }
}
.item-bg4 {
    background: {
        image: url(../../assets/img/image-1.jpeg);
    }
}

/* Custom css*/
.ml-lg-4,
.mx-lg-4 {
    margin-left: 1.5rem !important;
}
.d-sm-block {
    display: block !important;
}
.mr-md-4,
.mx-md-4 {
    margin-right: 1.5rem !important;
}
.mr-lg-0,
.mx-lg-0 {
    margin-right: 0 !important;
}

.btnn {
    display: inline-block;
    font-weight: 700;
    color: #555a64;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 0.625rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 100px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-primaryy {
    color: #fff;
    background-color: $main-color;
    border-color: $main-color;
    border-radius: 14px;
    box-shadow: none;
}

.btn-primaryy:hover {
    color: #fff;
    background-color: $secondary-color;
    border-color: $secondary-color;
}

.btn-primaryy.focus,
.btn-primaryy:focus {
    box-shadow: none, 0 0 0 0.2rem rgba(38, 170, 135, 0.5);
}

.btn-primaryy.disabled,
.btn-primaryy:disabled {
    color: #fff;
    background-color: #009b72;
    border-color: #009b72;
}

.btn-primaryy:not(:disabled):not(.disabled).active,
.btn-primaryy:not(:disabled):not(.disabled):active,
.show > .btn-primaryy.dropdown-toggle {
    color: #fff;
    background-color: #00684c;
    border-color: #005b43;
}

.btn-primaryy:not(:disabled):not(.disabled).active:focus,
.btn-primaryy:not(:disabled):not(.disabled):active:focus,
.show > .btn-primaryy.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 170, 135, 0.5);
}
/*custom css*/
/*btn btn-primary*/
.btn {
    color: $white-color;
    box-shadow: 0 8px 6px -6px rgba(50, 51, 51, 0.4);
    border: none;
    padding: 15px 30px;
    border-radius: 0px;
    transition: $transition;
    font: {
        weight: 600;
        size: $font-size;
    }
}
.btn-primary {
    color: $white-color;
    background: #e57f26;
    position: relative;
    z-index: 1;
    border-radius: 10px;

    &::before,
    &::after {
        content: "";
        position: absolute;
        top: 0;
        width: 51%;
        background: $main-color;
        height: 100%;
        z-index: -1;
        transition: $transition;
        border-radius: 1px;
    }
    &::before {
        left: 0;
    }
    &::after {
        right: 0;
    }
    &:hover::before,
    &:hover::after,
    &:focus::before,
    &:focus::after {
        width: 0;
    }
    &.focus,
    &:focus {
        box-shadow: unset;
        color: $white-color;
    }
    &:hover,
    &:focus {
        background: #e57f26;
        color: $white-color;
        box-shadow: unset;
    }
    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus {
        box-shadow: unset;
    }
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active {
        background: $black-color;
        color: $white-color;
    }
    &.disabled,
    &:disabled {
        opacity: 1;
        background: $black-color;
    }
}
/*form-control*/
.form-control {
    // height: 40px;
    padding: 10px;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #eeeeee;
    border-radius: 7px;
    transition: $transition;

    &:focus {
        box-shadow: unset;
        border-color: $main-color;
    }
}
/*section-title*/
.section-title {
    text-align: center;
    position: relative;
    z-index: 1;
    margin: {
        bottom: 60px;
        top: -5px;
    }
    span {
        text-transform: uppercase;
        display: block;
        letter-spacing: 0.5px;
        margin-bottom: 12px;
        color: $main-color;
        font: {
            size: 14px;
            weight: 700;
        }
    }
    h2 {
        margin-bottom: 0;
        font: {
            size: 35px;
            weight: 500;
        }
        b {
            font-weight: 600 !important;
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 80%,
                $main-color 80%
            );
            background-size: 90px 1.1em !important;
        }
    }
    p {
        max-width: 520px;
        margin: 15px auto 0;
    }
}

/*================================================
Why We Different CSS
=================================================*/
.why-we-different {
    position: relative;
    z-index: 1;
}

.why-we-different.bg-image {
    background-image: url(../../assets/img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tab .tabs {
    list-style-type: none;
    padding: 0;
    margin: 0 0 50px;
    text-align: center;
}

.tab .tabs li {
    display: inline-block;
    margin: 0 5px;
}

.tab .tabs li a {
    color: #000000;
    padding: 15px 30px;
    background: transparent;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    display: block;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    text-transform: capitalize;
    font-weight: 600;
}

.tab .tabs li a:hover,
.tab .tabs li a:focus {
    background: $main-color;
    color: #ffffff;
    border-color: $main-color;
}

.tab .tabs li.current a {
    background: $main-color;
    color: #ffffff;
    border-color: $main-color;
}

.tab .tabs_item {
    display: none;
}

.tab .tabs_item:first-child {
    display: block;
}

.tab .tabs_item .tabs_item_content h3 {
    margin-bottom: 12px;
    font-size: 22px;
    font-weight: 600;
}

.tab .tabs_item .tabs_item_content p {
    margin-bottom: 0;
}

.tab .tabs_item .tabs_item_content ul {
    padding: 0;
    list-style-type: none;
    margin: 20px 0;
    overflow: hidden;
}

.tab .tabs_item .tabs_item_content ul li {
    color: #828893;
    margin-bottom: 10px;
    float: left;
    width: 45%;
    padding-left: 17px;
    font-weight: 600;
    position: relative;
}

.tab .tabs_item .tabs_item_content ul li:last-child {
    margin-bottom: 0;
}

.tab .tabs_item .tabs_item_content ul li::before {
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #ff2c6f;
    -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

/*================================================
Preloader CSS
=================================================*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    overflow: hidden;
    background: $black-color;

    .loader {
        display: block;
        position: relative;
        left: 50%;
        top: 50%;
        width: 110px;
        height: 110px;
        margin: -80px 0 0 -75px;
        border-radius: 50%;
        border: 7px solid transparent;
        border-top-color: $main-color;
        animation: spin 1.7s linear infinite;
        z-index: 11;

        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            border-radius: 50%;
            border: 7px solid transparent;
            border-top-color: #e57f26;
            animation: spin-reverse 0.6s linear infinite;
        }
        &::after {
            content: "";
            position: absolute;
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            border-radius: 50%;
            border: 7px solid transparent;
            border-top-color: $main-color;
            animation: spin 1s linear infinite;
        }
    }
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spin-reverse {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}
/*================================================
Features CSS
=================================================*/
.features-area {
    position: relative;
    padding-bottom: 70px;
    z-index: 1;
}

.features-area.bg-image {
    background-image: url(../../assets/img/bg.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
}

.single-features {
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 35px 25px;
    text-align: center;
    margin-bottom: 30px;
    transition: 0.5s;
    border-radius: 15px;
}

.single-features .icon {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #e57f26;
    font-size: 45px;
}

.single-features h3 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 22px;
    font-weight: 600;
    margin-top: 15px;
    margin-bottom: 12px;
}

.single-features p {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-features:hover,
.single-features:focus {
    background-color: #e57f26;
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
}

.single-features:hover .icon,
.single-features:focus .icon {
    color: #ffffff;
}

.single-features:hover h3,
.single-features:focus h3 {
    color: #ffffff;
}

.single-features:hover p,
.single-features:focus p {
    color: #ffffff;
    opacity: 0.88;
}

.single-features.active {
    background-color: #23d3b6;
}

.single-features.active .icon {
    color: #ffffff;
}

.single-features.active h3 {
    color: #ffffff;
}

.single-features.active p {
    color: #ffffff;
    opacity: 0.88;
}
/*================================================
Services CSS
=================================================*/
.services-area {
    position: relative;
    padding-bottom: 70px;
    z-index: 1;
}

.single-services {
    margin-bottom: 30px;
    border-radius: 15px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #ffffff;
    -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
    box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
}

.single-services .services-image {
    overflow: hidden;
    position: relative;
}

.single-services .services-image::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-services .services-image img {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-services .services-image .icon {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 3;
    right: 0;
    margin: 0 auto;
    text-align: center;
    -webkit-transform: translateY(-40%);
    transform: translateY(-40%);
    width: 60px;
    opacity: 0;
    visibility: hidden;
    height: 60px;
    line-height: 58px;
    background: #ff2c6f;
    color: #ffffff;
    border-radius: 50%;
    font-size: 22px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-services .services-content {
    padding: 30px 20px;
}

.single-services .services-content h3 {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}

.single-services .services-content p {
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.single-services:hover,
.single-services:focus {
    background: #ff2c6f;
}

.single-services:hover .services-image img,
.single-services:focus .services-image img {
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
}

.single-services:hover .services-image::before,
.single-services:focus .services-image::before {
    opacity: 0.7;
    visibility: visible;
}

.single-services:hover .services-image .icon,
.single-services:focus .services-image .icon {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    visibility: visible;
}

.single-services:hover .services-content h3,
.single-services:hover .services-content p,
.single-services:focus .services-content h3,
.single-services:focus .services-content p {
    color: #ffffff;
}
/*================================================
Navbar CSS
=================================================*/
.navbar {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 9;
    padding: 25px 0 0;
    height: auto;

    &.is-sticky {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        padding: 15px 0;
        z-index: 999;
        box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
        background-color: $white-color !important;
        animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
    }
}
.bg-light {
    background-color: transparent !important;
}
.navbar-brand {
    img {
        &:last-child {
            display: none;
        }
    }
}
.navbar-light {
    .navbar-nav {
        .nav-item {
            padding: {
                right: 13px;
                left: 13px;
            }
            .nav-link {
                color: $white-color;
                padding: 0;
                position: relative;
                font: {
                    size: 15px;
                    weight: 600;
                }
                &::before {
                    content: "";
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: $main-color;
                    left: 0;
                    right: 0;
                    margin: 0 auto;
                    opacity: 0;
                    visibility: hidden;
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                    bottom: 0;
                    transition: $transition;
                }
                &:hover,
                &:focus,
                &.active {
                    color: $main-color;

                    &::before {
                        bottom: -13px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
            &:last-child {
                padding-right: 0;
            }
            &:first-child {
                padding-left: 0;
            }
            &.active {
                .nav-link {
                    color: $main-color;

                    &::before {
                        bottom: -13px;
                        opacity: 1;
                        visibility: visible;
                    }
                }
            }
        }
    }
    &.is-sticky {
        .navbar-brand {
            img {
                &:last-child {
                    display: block;
                }
                &:first-child {
                    display: none;
                }
            }
        }
        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: $black-color;

                    &::before {
                        display: none;
                    }
                    &:hover,
                    &:focus,
                    &.active {
                        color: $main-color;

                        &::before {
                            bottom: auto;
                            top: -10px;
                        }
                    }
                }
                &.active {
                    .nav-link {
                        color: $main-color;

                        &::before {
                            bottom: auto;
                            top: -10px;
                        }
                    }
                }
            }
        }
    }
}
// Mobile and iPad Navbar
@media only screen and (max-width: 991px) {
    .navbar {
        padding: {
            top: 15px;
            bottom: 25px;
        }
    }
    .navbar-expand-lg {
        > .container {
            padding: {
                left: 15px;
                right: 15px;
            }
        }
    }
    .navbar-light {
        .navbar-toggler {
            border-color: $white-color;
            border-radius: 0;

            .navbar-toggler-icon {
                background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
            }
        }
        .navbar-nav {
            background-color: $white-color;
            padding: 10px 20px;
            margin-top: 10px;

            .nav-item {
                padding: {
                    left: 0;
                    right: 0;
                    top: 10px;
                    bottom: 10px;
                }
                .nav-link {
                    color: $black-color;
                    display: block;

                    &.active,
                    &:hover {
                        color: $main-color;
                    }
                    &.active {
                        &::before {
                            bottom: 50%;
                        }
                    }
                    &::before {
                        margin: {
                            bottom: -5px;
                            right: 0;
                        }
                    }
                }
            }
        }
        &.is-sticky {
            padding: {
                top: 15px;
                bottom: 15px;
            }
            .navbar-toggler {
                border-color: $black-color;

                .navbar-toggler-icon {
                    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                }
            }
            .navbar-nav {
                border: 1px solid #eeeeee;

                .nav-item {
                    .nav-link {
                        &.active {
                            &::before {
                                top: auto;
                                bottom: 50%;
                                display: block;
                            }
                        }
                    }
                }
            }
        }
    }
}

/*================================================
Main Banner CSS
=================================================*/
.main-banner {
    height: 100vh;
    position: relative;
    z-index: 1;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(13, 15, 20, 0.55);
    }
}
.video-banner {
    overflow: hidden;

    .video-background {
        position: absolute;
        left: 0;
        top: 0;
        width: auto;
        height: auto;
        min-height: 100%;
        min-width: 100%;
        z-index: -2;
    }
}
.ripple-effect {
    &.main-banner {
        &::before {
            z-index: 1;
        }
        .main-banner-content {
            position: relative;
            z-index: 2;
        }
    }
}

.item-bg2 {
    background: {
        image: url(../../assets/img/landing-background.jpg);
    }
}

.main-banner-content {
    max-width: 700px;
    position: relative;
    z-index: 3;
    margin: 60px 0 0;

    &.text-center {
        margin: 60px auto 0;

        p {
            margin: {
                left: auto;
                right: auto;
            }
        }
    }
    span {
        color: $white-color;
        text-transform: uppercase;
        display: block;
        letter-spacing: 2px;
        opacity: 0.88;
        font: {
            weight: 500;
            size: 16px;
        }
    }
    h1 {
        color: $white-color;
        margin: 20px 0 25px;
        font: {
            size: 55px;
            family: $font-family;
            weight: 300;
        }
        b {
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 80%,
                $main-color 80%
            );
            background-size: 100px 1.2em !important;
            font: {
                weight: 700;
                family: $font-family2;
            }
        }
        .typewrite {
            background: linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 80%,
                $main-color 80%
            );
            background-size: 100px 1em !important;
            display: inline-block;
            font: {
                weight: 700;
                family: $font-family2;
            }
            span {
                text-transform: capitalize;
                margin: 0;
                opacity: 1;
                display: inline;
                letter-spacing: 0;
                font: {
                    size: 55px;
                }
            }
        }
    }
    p {
        color: $white-color;
        margin-bottom: 30px;
        max-width: 580px;
        opacity: 0.88;
        font-size: 16.5px;
    }
    .btn-box {
        span {
            display: inline-block;
            letter-spacing: 0;
            margin: 0 15px;
            font: {
                weight: 700;
                size: 14px;
            }
        }
        .video-btn {
            color: #dddddd;
            display: inline-block;
            font-weight: 600;

            i {
                width: 50px;
                display: inline-block;
                height: 50px;
                line-height: 51px;
                text-align: center;
                background-color: $white-color;
                border-radius: 50%;
                margin-right: 5px;
                z-index: 1;
                color: $main-color;
                position: relative;
                transition: $transition;

                &::after {
                    z-index: -1;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 0;
                    width: 50px;
                    height: 50px;
                    animation: ripple 1.6s ease-out infinite;
                    opacity: 0;
                    border-radius: 50%;
                    background: rgba(255, 255, 255, 0.5);
                }
            }
            &:hover,
            &:focus {
                color: $white-color;

                i {
                    background-color: $main-color;
                    color: $white-color;
                }
            }
        }
    }
}
.main-banner {
    &.main-banner-with-form {
        height: 1400px;

        .main-banner-content {
            margin-top: 0;
            max-width: 100%;
        }
    }
}
.banner-form {
    background: $white-color;
    box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.08);
    padding: 40px 25px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        background: $white-color;
        width: 96%;
        opacity: 0.62;
        height: 50%;
        bottom: -10px;
        left: 0;
        right: 0;
        margin: auto;
        border-radius: 3px;
    }
    form {
        .form-control {
            border: 1px solid #eeeeee;
            font-size: 14px;
            border-radius: 2px;
        }
        label {
            color: $black-color;
            margin-bottom: 4px;
            font-size: 15px;
        }
        select.form-control {
            height: 40px;
            cursor: pointer;
        }
        .btn {
            margin-top: 10px;
        }
    }
}
.banner-video {
    position: relative;
    text-align: center;
    border: 5px solid $white-color;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.05);
    overflow: hidden;

    &::before {
        background: linear-gradient(
            to bottom,
            #0975bc,
            #0d5b93,
            #0d426d,
            #092b48,
            #041527
        );
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        content: "";
        opacity: 0.7;
        z-index: 1;
    }
    img {
        transition: $transition;
    }
    .video-btn {
        position: absolute;
        left: 0;
        top: 50%;
        z-index: 2;
        right: 0;
        margin: 0 auto;
        width: 70px;
        height: 70px;
        line-height: 72px;
        border-radius: 50%;
        margin-top: -30px;
        color: $white-color;
        font-size: 20px;
        background-color: $main-color;
        transition: $transition;

        &::before {
            z-index: -1;
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 70px;
            height: 70px;
            animation: ripple 1.6s ease-out infinite;
            opacity: 0;
            border-radius: 50%;
            background: rgba(148, 107, 255, 0.5);
        }
        &:hover,
        &:focus {
            color: $main-color;
            background-color: $white-color;
        }
    }
    &:hover,
    &:focus {
        img {
            transform: scale(1.4);
        }
    }
}
.text-animation-home {
    .main-banner-content {
        h1 {
            margin-bottom: 15px;
        }
    }
}
#particles-js {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#particles-js-bubble {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#particles-js-star {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#particles-js-big-bubble {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#particles-js-small-bubble {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.gradient-banner {
    &.main-banner {
        &::before {
            background: linear-gradient(
                to left bottom,
                #292e49,
                #303d55,
                #394b61,
                #455a6b,
                #536976
            );
            opacity: 0.9;
        }
    }
}
.home-slides {
    &.owl-theme {
        .owl-nav {
            margin-top: 0;
            line-height: 0.01;

            [class*="owl-"] {
                position: absolute;
                left: 50px;
                top: 50%;
                width: 60px;
                height: 60px;
                outline: 0;
                box-shadow: unset;
                opacity: 0;
                visibility: hidden;
                line-height: 60px;
                background-color: $black-color;
                border-radius: 0;
                color: $white-color;
                transition: $transition;
                opacity: 0.7;
                margin-top: -50px;
                font: {
                    size: 28px;
                }
                &.owl-next {
                    left: auto;
                    right: 50px;
                }
                &:hover {
                    background-color: $main-color;
                    color: $white-color;
                    opacity: 1;
                    outline: 0;
                    box-shadow: unset;
                }
            }
        }
        &:hover,
        &:focus {
            .owl-nav {
                [class*="owl-"] {
                    opacity: 1;
                    left: 10px;
                    visibility: visible;

                    &.owl-next {
                        left: auto;
                        right: 10px;
                    }
                }
            }
        }
    }
}
@keyframes ripple {
    0%,
    35% {
        transform: scale(0);
        opacity: 1;
    }
    50% {
        transform: scale(1.5);
        opacity: 0.8;
    }
    100% {
        opacity: 0;
        transform: scale(2);
    }
}
@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    12.5% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    25% {
        opacity: 1;
    }
    37.5% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.no-cssanimations {
    .slideshow {
        li {
            span {
                opacity: 1;
            }
        }
    }
}
.shape1 {
    position: absolute;
    left: 70px;
    bottom: 70px;
    z-index: -1;
    animation: movebounce 5s linear infinite;
    opacity: 0.6;
}
.shape2 {
    position: absolute;
    right: 70px;
    bottom: 70px;
    z-index: -1;
    opacity: 0.6;
}
.shape3 {
    position: absolute;
    left: 70px;
    top: 70px;
    z-index: -1;
    opacity: 0.6;
}
.shape4 {
    position: absolute;
    right: 100px;
    top: 100px;
    z-index: -1;
    opacity: 0.6;
    animation: movebounce 5s linear infinite;
}
.rotateme {
    animation-name: rotateme;
    animation-duration: 40s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes rotateme {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes movebounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}

/*================================================
Who We Are CSS
=================================================*/
.who-we-are {
    position: relative;
    padding-bottom: 70px;
    z-index: 1;

    &.bg-image {
        background: {
            image: url(../../assets/img/bg.jpg);
            position: center center;
            size: cover;
            repeat: no-repeat;
        }
    }
    .section-title {
        text-align: left;
        margin-bottom: 0;

        p {
            margin: {
                bottom: 25px;
                left: 0;
                right: 0;
            }
        }
    }
    .content {
        p {
            margin-bottom: 0;
        }
        ul {
            padding: 0;
            list-style-type: none;
            margin: 10px 0 0;
            overflow: hidden;

            li {
                color: $paragraph-color;
                margin-top: 10px;
                float: left;
                width: 45%;
                padding-left: 17px;
                font-weight: 600;
                position: relative;

                &::before {
                    content: "";
                    top: 50%;
                    transform: translateY(-50%);
                    left: 0;
                    position: absolute;
                    width: 10px;
                    height: 10px;
                    background: $main-color;
                    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                }
            }
        }
    }
}
/*================================================
FAQ CSS
=================================================*/
.faq-image {
    width: 100%;
    height: 100%;
    background: {
        // image: url(../../assets/img/Account-Registration.png);
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    img {
        display: none;
    }
}
.faq-accordion {
    .card {
        border-radius: 0 !important;
        display: block;
        margin-bottom: 15px;
        border: none;
        background-color: $white_color;
        box-shadow: 2px 8px 20px 0 rgba(25, 42, 70, 0.13) !important;

        .card-header {
            padding: 0;
            margin-bottom: 0;
            border: none;
            background: transparent;

            &:first-child {
                border-radius: 0;
            }
            a {
                display: block;
                overflow: hidden;
                padding: 17px 40px 17px 20px;
                color: $white-color;
                background: $main-color;
                position: relative;
                font: {
                    size: $font-size;
                    family: $font-family;
                    weight: 600;
                }
                &:hover {
                    background: $main-color;
                }
                i {
                    position: absolute;
                    right: 20px;
                    top: 50%;
                    font-size: 18px;
                    transform: translateY(-50%) rotate(180deg);
                }
                &.collapsed {
                    color: $black-color;
                    background: transparent;
                    transition: $transition;

                    &:hover {
                        color: $white-color;
                        background-color: $main-color;
                    }
                    i {
                        transform: translateY(-50%) rotate(0);
                    }
                }
            }
        }
        .card-body {
            line-height: 1.8;
            background: transparent;
            color: $paragraph-color;
            padding: 15px;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.tab-slider-nav {
    text-align: center;
    margin-bottom: 40px;

    .tab-slider-tabs {
        margin: 0;
        padding: 0;
        list-style: none;

        .tab-slider-trigger {
            color: $paragraph-color;
            text-transform: uppercase;
            background-color: $white-color;
            margin: 0 -2px;
            padding: 10px 20px;
            box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
            cursor: pointer;
            border-bottom: 3px solid $main-color;
            display: inline-block;
            transition: $transition;
            font: {
                weight: 600;
                size: 14px;
            }
            &.active,
            &:hover,
            &:focus {
                color: $white-color;
                background: $main-color;
            }
        }
    }
}
/*================================================
Contact CSS
=================================================*/
.contact-area {
    position: relative;
    z-index: 1;

    &.bg-image {
        background: {
            image: url(../../assets/img/bg.jpg);
            position: center center;
            size: cover;
            repeat: no-repeat;
        }
    }
}
.contact-info {
    box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
    background: $white-color;
    padding: 30px;
    height: 100%;
    border: {
        top: 3px solid $main-color;
        bottom: 3px solid $main-color;
    }
    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            position: relative;
            padding-left: 60px;
            font-weight: 600;
            margin-bottom: 25px;
            color: $paragraph-color;

            &:last-child {
                margin-bottom: 0;
            }
            span {
                display: block;
                margin-bottom: 3px;
                color: $black-color;
                font: {
                    weight: 600;
                    size: 20px;
                }
            }
            a {
                color: $paragraph-color;
                display: inline-block;

                &:hover,
                &:focus {
                    color: $main-color;
                }
            }
            i {
                position: absolute;
                left: 0;
                top: 50%;
                color: $main-color;
                font-size: 19px;
                background: #f6f6f6;
                transform: translateY(-50%);
                width: 44px;
                height: 44px;
                line-height: 44px;
                text-align: center;
                border-radius: 50%;
                transition: $transition;
            }
            &:hover,
            &:focus {
                i {
                    background-color: $main-color;
                    color: $white-color;
                }
            }
        }
    }
}
.contact-form {
    box-shadow: 0 0 30px 0 rgba(67, 67, 67, 0.15);
    background-color: $white-color;
    padding: 30px;
    border: {
        top: 3px solid $main-color;
        bottom: 3px solid $main-color;
        radius: 10px;
    }
    .btn {
        margin-top: 12px;
        margin-bottom: 12px;
        background: #e57f26;
    }
}

/*================================================
Page Title CSS
=================================================*/
.page-title-area {
    position: relative;
    z-index: 1;
    text-align: center;
    background: {
        position: center center;
        size: cover;
        repeat: no-repeat;
    }
    padding: {
        top: 200px;
        bottom: 120px;
    }
    &::before {
        position: absolute;
        left: 0;
        top: 0;
        background: rgba(13, 15, 20, 0.75);
        width: 100%;
        height: 100%;
        z-index: -1;
        content: "";
    }
    h2 {
        margin-bottom: 0;
        color: $white-color;
        font: {
            size: 45px;
            weight: 600;
        }
    }
}

/*================================================
Pagination CSS
=================================================*/
.pagination-area {
    margin-top: 30px;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;

        li {
            a {
                width: 40px;
                height: 40px;
                padding: 0;
                margin: 0 5px;
                background-color: $white-color;
                border-radius: 0 !important;
                text-align: center;
                line-height: 40px;
                color: $black-color;
                box-shadow: 0 2px 10px 0 #d8dde6;
                border: none;
                font: {
                    size: 17px;
                    weight: 600;
                }
                &.active,
                &:hover,
                &:focus {
                    background: $main-color;
                    color: $white-color;
                    box-shadow: unset;
                }
            }
        }
    }
}

/*================================================
Sidebar CSS
=================================================*/
.sidebar {
    .widget {
        margin-bottom: 40px;

        &:last-child {
            margin-bottom: 0;
        }
        .widget-title {
            margin-bottom: 25px;
            position: relative;
            font: {
                size: 22px;
                weight: 600;
            }
            &::before {
                content: "";
                position: absolute;
                right: 0;
                top: 2px;
                width: 17px;
                height: 17px;
                background: $main-color;
                clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
                transition: $transition;
            }
        }
        &:hover,
        &:focus {
            .widget-title {
                &::before {
                    transform: rotate(180deg);
                }
            }
        }
        &.widget_search {
            background: $white-color;
            box-shadow: 0px 0px 29px 0px rgba(102, 102, 102, 0.1);
            padding: 15px;

            form {
                position: relative;

                .form-control {
                    background: transparent;
                }
                button {
                    position: absolute;
                    right: 5px;
                    top: 0;
                    height: 100%;
                    border: none;
                    outline: 0;
                    box-shadow: unset;
                    background: transparent;
                    color: $main-color;
                    transition: $transition;

                    &:hover,
                    &:focus {
                        color: $black-color;
                    }
                }
            }
        }
        &.widget_categories {
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    position: relative;
                    border-top: 1px solid #eeeeee;
                    padding: {
                        top: 10px;
                        bottom: 10px;
                        left: 18px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 10px;
                        height: 10px;
                        background: $main-color;
                        margin-top: -5px;
                        transition: $transition;
                    }
                    &:last-child {
                        border-bottom: 1px solid #eeeeee;
                    }
                    a {
                        color: $paragraph-color;
                        display: inline-block;

                        &:hover {
                            color: $main-color;
                        }
                    }
                    &:hover {
                        &::before {
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
        &.widget_recent_entries {
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    position: relative;
                    padding-left: 100px;
                    margin-bottom: 15px;

                    a {
                        display: block;

                        img {
                            position: absolute;
                            left: 0;
                            top: 3px;
                            height: 65px;
                        }
                    }
                    h5 {
                        line-height: 22px;
                        margin-bottom: 3px;
                        font: {
                            size: 16px;
                            weight: 600;
                        }
                        a {
                            color: $black-color;
                            display: inline-block;

                            &:hover,
                            &:focus {
                                color: $main-color;
                            }
                        }
                    }
                    p {
                        font-size: 14px;
                    }
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }
        &.widget_tag_cloud {
            .tagcloud {
                a {
                    border: 1px dashed #eeeeee;
                    padding: 6px 20px;
                    margin-top: 6px;
                    color: $paragraph-color;
                    display: inline-block;
                    margin-right: 6px;
                    font: {
                        size: 14px !important;
                        weight: 600;
                    }
                    &:hover {
                        background: $main-color;
                        color: $white-color;
                        border-color: $main-color;
                    }
                }
            }
        }
        &.widget_archive {
            ul {
                padding: 0;
                margin: 0;
                list-style-type: none;

                li {
                    position: relative;
                    border-top: 1px solid #eeeeee;
                    padding: {
                        top: 10px;
                        bottom: 10px;
                        left: 18px;
                    }
                    &::before {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 50%;
                        width: 10px;
                        height: 10px;
                        background: $main-color;
                        margin-top: -5px;
                        transition: $transition;
                    }
                    &:last-child {
                        border-bottom: 1px solid #eeeeee;
                    }
                    a {
                        color: $paragraph-color;
                        display: inline-block;

                        &:hover {
                            color: $main-color;
                        }
                    }
                    &:hover {
                        &::before {
                            border-radius: 50%;
                        }
                    }
                }
            }
        }
    }
}

/*================================================
404 Error CSS
=================================================*/
.error-content {
    margin: 0 auto;
    max-width: 650px;

    .search-form {
        position: relative;
        margin-top: 45px;

        .search-field {
            display: block;
            width: 100%;
            height: 50px;
            outline: 0;
            box-shadow: unset;
            padding-left: 15px;
            text-transform: capitalize;
            font-weight: 600;
            border: 1px solid #eeeeee;
        }
        .search-submit {
            position: absolute;
            right: 0;
            bottom: 0;
            height: 50px;
            width: 110px;
            outline: 0;
            box-shadow: unset;
            border: none;
            background: $main-color;
            color: $white-color;
            font-weight: 600;
            transition: $transition;

            &:hover,
            &:focus {
                background-color: $black-color;
                color: $white-color;
            }
        }
    }
}

/*================================================
Footer CSS
=================================================*/
.footer-area {
    background-color: $black-color;
    padding: {
        top: 30px;
        bottom: 30px;
    }
    p {
        color: $white-color;
        font: {
            family: $font-family2;
            weight: 500;
        }
        .icofont-heart {
            color: red;
        }
        a {
            display: inline-block;
            color: $white-color;
            font-weight: 600;

            &:hover,
            &:focus {
                color: $main-color;
            }
        }
    }
    ul {
        text-align: right;
        padding: 0;
        list-style-type: none;
        margin: 0;

        li {
            display: inline-block;
            margin-left: 5px;

            a {
                height: 32px;
                width: 32px;
                text-align: center;
                line-height: 32px;
                transition: $transition;
                color: $black-color;
                border-radius: 50%;
                display: block;
                background: $main-color;
                font-size: 14px;

                &:hover,
                &:focus {
                    transform: translateY(-5px);
                    background-color: $main-color;
                    color: $white-color;
                }
            }
        }
    }
}

/*================================================
Go Top CSS
=================================================*/
.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 15px;
    right: 15px;
    font-size: 25px;
    color: $white-color;
    background-color: $black-color;
    z-index: 4;
    display: none;
    width: 43px;
    text-align: center;
    height: 45px;
    line-height: 43px;
    border-radius: 5px 5px 0 0;
    transition: $transition;

    &:hover {
        color: $white-color;
        background: $main-color;
    }
}
