<section class="page-title-area item-bg4">
    <div class="container">
        <h2>REINITRESEARCH PRIVACY POLICY</h2>
    </div>
</section>

<section class="error-area ptb-100">
    <div class="">
        <div class="">
<div class="col-md-12">

    <p>Definition of terms</p>

• “Active Panellist” refers to a Panel Member that has: (a) participated in a Survey, (b) other Research Program; or (c) other parts of the Service, at least, once over the last twelve (12) months; or (d) updated his/her profile or member information at least once in the last twelve (12) months.
<br>
• “Applicable Law” refers to applicable national and/or local laws and regulations.
<br>
• “Client” refers to Our clients to whom We provide services.
<br>
• “Content” refers to the information on Our Site, a Survey Site, a Panel Site or a Partner Site.
<br>
• “Panel” refers to a group of individuals who have agreed to be invited to and participate in market research Surveys, other Research Programs or other parts of the Services for market research.
<br>
• “Panel Member” refers to a member of a Panel.
<br>
• “Survey Owner” refers to the owner of a Survey, which typically is a Client.
<br>
• “Survey Site” refers to the website where You respond to and complete a Survey.
<br>
• “Surveys” refers to market research surveys made available by Us to You.
<br>
• “Third Party Websites” refers to websites maintained and/or operated by third parties.
<br>
• “User” refers to You as an individual when You use the Service.
<br>
<p>What we do</p>
<br>
• REINITRESEARCH is in the market research and opinion research business.
<br>
• REINITRESEARCH operates the Website for the purpose of gaining anonymous opinions in order to help its Clients gain a better understanding of their business, marketing, product development and strategic opportunities.
<br>
• In order to function as a market research business, we collect your demographic. Your answers to the questions in the Trait Surveys are used to determine your various social, psychological, political, psychographic and preference attributes as a Member.
<br>
• We do not share your name or email address with our Clients. It is a violation of the Terms of Use for a Client to seek to determine the individual identity of any Member.
<br>
• If you decide that you do not wish to answer a survey or an individual question in a survey, you can simply end your participation in the survey, and the survey will be cleared from your account, typically in a few hours or days. You will not receive payment for an incomplete survey.
<br>
<p>We care about your privacy</p>

• By sharing your personal data, you will be able to get research opportunities targeted to your interests, help to improve products and services and earn rewards for participation
<br>
Personal Information We Collect
<br>
• When you visit or use the Reinitresearch site and Features or our Services, you may be required to share information that identifies you personally.
<br>
• “Personal Information” refers to any information that can reasonably be used to identify, contact or locate you.
<br>
• Examples of Personal Information may include, without limitation, your name, your email, your phone number, your location.
<br>
• Generally, we collect Personal Information when you provide it to us by visiting the Reinitresearch site.
<br>
• This may include registering for any account with us, filling out surveys, joining a mailing list, or otherwise volunteering or providing information about yourself.
<br>
REINIT RESEARCH client Survey Information
• You may occasionally be given an opportunity to participate in a survey created by a Client, or by REINITRESEARCH itself.
<br>
• We collect and store the responses that you submit to these surveys. This information may include photos of you, video recordings of you and sharing your screen activity.
<br>
• When a Client created the survey, it is the Client who is responsible for the information and questions included in the survey.
<br>
• It is a violation of the Terms of Service for a REINIT RESEARCH client to ask you for personally identifiable information.
<br>
• If a Client survey asks you to provide personal information such as your name, address, phone number or email address, we urge you not to provide this information.
<br>
• If you decide that you do not wish to answer a question or otherwise complete a survey, you can click the “Exit” button to leave the survey. You will not receive remuneration for Client Surveys which you do not complete.
•
<br>
How We Use Your Information
<br>
• To Provide You the Services: We use the information from Trait Surveys to determine whether you are carefully reading questions and providing deliberate, consistent and candid answers.
<br>
• This helps us decide whether or not to include you in our Clients’ surveys.
<br>
• We also include questions to identify certain psychographic characteristics such as interests, activities, personal opinions and possessions. This helps us to better direct surveys to you.
<br>
• To Invite You to Take a Survey: We may send you an email or SMS message to invite you to take a survey.
<br>
• You may opt out from receiving such emails by clicking on the “unsubscribe” link at the bottom of each email or selecting the opt-out link on the “Settings” page, and you may opt out from such SMS messages by replying “STOP”.
<br>
• This will not stop other communications from us which may be necessary to provide you the services.
<br>
• Service-Related Announcements: From time to time we may send you emails related to the services we’re providing to you. You may not opt out from receiving these emails without closing your Member account.
<br>
• Invitations to Additional Market Research Studies: You may be asked in a survey whether you have interest in participating in additional market research studies, such as a phone interview, a product test or user experience study.
<br>
• If you elect to be considered for such study, we may contact you so that you can participate. There will be an additional opportunity to opt out of the study at that point.
<br>
• To Maintain the Safety and Security of Our Services: We may use your information for internal purposes designed to keep our services secure and operational, such as for troubleshooting and testing purposes.
<br>
• We may also use your information to verify with a third-party service provider that your email and mailing address correspond to a real individual.
<br>
• To Prevent Illegal or Abusive Conduct: We use your information as necessary to enforce our Terms of Use and this Privacy Policy, to help prevent illicit or illegal use of the Website or the services, and to screen for and prevent undesirable or abusive activity.
<br>
• In addition, we may need to inspect the data we hold to determine how to respond to legal requests or subpoenas.
Third-party information gathering<br>
• The Reinitresearch website contains links to other sites on the Web. Please be aware that Reinitresearch is not responsible for the privacy practices of such sites. We encourage our users to be aware when they leave our site and to read the privacy statements of each and every Web site that collects personally identifiable information.
<br>
• This privacy policy applies solely to information collected by Reinitresearch.
How We Share Your Information<br>
• Email address: We will not rent, sell or share your email address with anyone without your express permission.
<br>
• Your Survey Responses: We share your survey responses with our Clients whose surveys you answered.
<br>
• The Clients may share these responses with third parties at their discretion. When you answer a research survey, we provide the Client your answers, your standard demographic information, and your location down to the zip code level. We do not provide your street address, name, phone number or email address. We do not share your IP address, but we do let Clients see on a map approximately where you live. We may also share your survey responses with employees, service providers, and other third parties as described below.
<br>
• Employees, Service Providers, and Other Third Parties: Our employees may access your complete responses together with any personally identifiable information we collected about you to the extent necessary to perform their jobs and to service your account.
<br>
• We also share restricted portions of your information with third parties who help us to provide you with our services including payment processors, hosting services, email service providers, data matching, communications providers, web traffic analytics tools and a web telephony provider to receive the confirmation codes from your phone and identify your phone number to our database , and with other third parties who assist us in providing services but are bound by confidentiality agreements.
<br>
• We grant these providers access to limited portions of your information, only to the extent necessary for them to perform their services to us.
<br>
• We also implement reasonable contractual and technical measures to ensure that your personal information is protected, used only for the provision of their services to us, and processed consistent with the terms of this Privacy Policy.
<br>
• We use certain portions of the information that you supplied when you registered to confirm with industry standard third-party service providers that you are who you claim to be.
<br>
• If these services report back to us that you are unlikely to be the identity you claimed, we will not allow you to participate in market research surveys.
<br>
<p>Business Transitions: Merger, Transactions, Bankruptcy</p>

In the event that REINIT RESEARCH or its affiliates
<br>
(i) undergoes a corporate restructuring;<br>
(ii) enters into a merger, acquisition, sale or other transaction pursuant to which REINIT RESEARCH or any portion of its assets or stock is acquired by or assigned to a third party; or
<br>
(iii) is involved in a bankruptcy, dissolution, reorganization, liquidation, similar transaction or proceedings,
Your personal information, including the questions and answers of your surveys and Research participation, may be among the items sold or otherwise transferred and may be shared with third parties, including buyers, service providers or law enforcement officials.
<br>
Cookies and Advertising Technologies
<br>
• A cookie is simply a small text file containing information about the user that is placed by a website on a user’s computer or device.
<br>
• We place cookies on your computer or device for survey and other market research program control and fraud prevention purposes.
<br>
• In addition to the ad networks, we may set (or allow third parties to set) and access cookies and other similar technologies, such as web beacons and embedded scripts, on your computer or smartphone.
<br>
• Web beacons and embedded script are invisible images or other programming code, which may be used on the Reinit research site and Features for a variety of analytical purposes and to help us provide a better and more customized user experience, including, without limitation, providing personalized features and preferences to you within the Reinitresearch site and Features; in doing so, we may link the information we collect from cookies and other similar technologies with your Personal Information and may track your browsing activity on our merchant partners’ website in order to provide you with advertising content, surveys, offers, promotions and rewards, and for other marketing, administrative and general business purposes.
<br>
Data Retention
<br>
• We will retain your information for as long as needed to provide you our services, or as long as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
<br>
• Even when we delete the information, keep in mind that the deletion by our third-party providers may not be immediate and that the deleted information may persist in backup copies for up to twelve (12) months or as required by legal and/or technical requirements that apply to such third parties.
<br>
• In addition, your survey answers and demographic traits, which have been provided to Clients as part of their survey results, will remain in our databases for as long as such Clients have active accounts or as necessary to comply with our legal obligations, resolve disputes, and enforce our agreements.
<br>
• This information may also be held by any third party with whom this information had previously been shared.
Data Security<br>
• REINIT RESEARCH has implemented commercially reasonable security measures to protect the loss, misuse, and alteration of your personal information under our control.
<br>
• For example, the access to your Member account and the transfer of all personal information collected by us is done over https, we limit access to the information only to individuals who need the information to perform their duties, and we use reliable third-party providers to back up personal information.
<br>
• However, transmission over the internet is not completely secure nor is any type of electronic storage, and there is always a risk that your information may be access or used by authorized third parties.
<br>
• Video (Webcam) Responses, Screen Shares and Photos: If you are invited to record a video response, share your screen as part of the response, or submit photos, and you accept that invitation, you will have an opportunity to opt out and to review such content before submitting it.
<br>
• If you do not submit the video, screenshots or photos you will forfeit any remuneration promised for completing the survey and the associated response.
<br>
• If you accept an invitation to record a video, the video will not only include you, it will include your background. Be careful not to have any sensitive personal information or sensitive items within view of the recording.
<br>
• If you share an image of your device’s screen, be careful not to share anything on that image that you wish to keep private.
<br>
• If you share some other image or photo, also be careful not to share without considering what might be in the foreground or background which you wish to keep private.
<br>
Opt-Out
<br>
• You may unsubscribe from offers and other communications from the Company by clicking “Opt Out” on any page of our Surveys or by emailing us at through our Contact Email. We will process your request for removal within 2-3 hours.
<br>
Changes to this Privacy Policy
<br>
• If we decide to change our Privacy Policy, we will post those changes to this privacy statement on our Website and other places we deem appropriate so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we disclose it.
<br>
• We reserve the right to modify this privacy statement at any time, so please review it frequently. If we make material changes to this policy, we will notify you here, by email, or by means of a notice on our Website.
</div>

        </div>
    </div>
</section>
