<div class="col-lg-8 col-md-12">
    <div class="contact-info">
        <h3>Join Our Panel</h3><hr/>
        <form [formGroup]="registrationForm">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>First Name<span style="color: red;">*</span></label>
                        <input formControlName="last_name" type="text" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last Name<span style="color: red;">*</span></label>
                        <input formControlName="last_name" type="text" class="form-control">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Gender<span style="color: red;">*</span></label>
                        <select class="custom-select">
                            <option value="" disabled>---Select---</option>
                            <option>Male</option>
                            <option>Female</option>
                         </select>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Date Of Birth<span style="color: red;">*</span></label>
                        <input type="text"
                            placeholder="date of birth"
                            formControlName="dob"
                            class="form-control"
                            bsDatepicker>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email<span style="color: red;">*</span></label>
                        <input formControlName="email" type="email" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Verify Email<span style="color: red;">*</span></label>
                        <input formControlName="verify_email" type="email" class="form-control">
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Country<span style="color: red;">*</span></label>
                    <div class="form-group">
                        <select class="custom-select" formControlName="country_id">
                            <option value="" disabled>---Select---</option>
                            <option>Male</option>
                            <option>Female</option>
                         </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Region<span style="color: red;">*</span></label>
                    <div class="form-group">
                        <select class="custom-select" formControlName="region_id">
                            <option value="" disabled>---Select---</option>
                            <option>Male</option>
                            <option>Female</option>
                         </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Education Level<span style="color: red;">*</span></label>
                    <div class="form-group">
                        <select class="custom-select" formControlName="education_level_id">
                            <option value="" disabled>---Select---</option>
                            <option>Male</option>
                            <option>Female</option>
                         </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Employment Status<span style="color: red;">*</span></label>
                    <div class="form-group">
                        <select class="custom-select" formControlName="employment_status_id">
                            <option value="" disabled>---Select---</option>
                            <option>Male</option>
                            <option>Female</option>
                         </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-6">
                    <label>Marital Status<span style="color: red;">*</span></label>
                    <div class="form-group">
                        <select class="custom-select" formControlName="marital_status_id">
                            <option value="" disabled>---Select---</option>
                            <option>Male</option>
                            <option>Female</option>
                         </select>
                    </div>
                </div>

                <div class="col-md-6">
                    <label>Country Code<span style="color: red;">*</span></label>
                    <div class="form-group">
                        <select class="custom-select" formControlName="country_code">
                            <option value="" disabled>---Select---</option>
                            <option>Male</option>
                            <option>Female</option>
                         </select>
                    </div>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Phone Number<span style="color: red;">*</span></label>
                    <div class="form-group">

                        <input formControlName="phone_number" type="number" class="form-control">
                    </div>
                </div>
            </div>

            <div class="row">

                <div class="col-md-6">
                    <label>Confirm Password<span style="color: red;">*</span></label>
                    <div class="form-group">

                        <input formControlName="confirm_pass" type="password" class="form-control">
                    </div>
                </div>
                <div class="col-md-6">
                    <label>Password<span style="color: red;">*</span></label>
                    <div class="form-group">

                        <input formControlName="password" type="password" class="form-control">
                    </div>
                </div>

            </div>

            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </div>
</div>
